mule/fda-s3-to-documentum-poc/src/main/app/s3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <https:connector name="S3_HTTP_HTTPS" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS"/>
	<flow name="amazons3-retrieve-file" doc:name="amazons3-retrieve-file" processingStrategy="synchronous">
		<logger
			message="Getting file range from #[payload.bytesFrom] to #[payload.bytesTo] of file  #[payload.relativeURL]"
			level="INFO" doc:name="Logger" />

		<https:outbound-endpoint exchange-pattern="request-response"
			host="${s3.host}" port="443" path="#[payload.relativeURL]" method="GET"
			doc:name="get file stream" connector-ref="S3_HTTP_HTTPS">
			<message-properties-transformer>
				<add-message-property key="Range"
					value="#['bytes=' + payload.bytesFrom +'-'+ payload.bytesTo]" />
			</message-properties-transformer>
		</https:outbound-endpoint>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Error downloading the file from amazon#[payload]" level="INFO" doc:name="Logger"/>
            <scripting:component doc:name="Copy_of_Groovy">
                <scripting:script engine="Groovy"><![CDATA[throw new java.lang.RuntimeException("Error downloading file from s3");]]></scripting:script>
            </scripting:component>
        </catch-exception-strategy>
	</flow>
</mule>
